.footer-section {
  position: relative;
  background-image: url("../img/footer/footer-bg.png");
  background-repeat: no-repeat;
  background-position: center bottom;
  width: 100%;
  aspect-ratio: 1440 / 500;
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 4% 20px 20px 20px;
  color: #ffffff;
  overflow: hidden;
}

.icon-container {
  display: flex;
  gap: 20px;
  margin-bottom: 15px;
}
.footer-icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  transition: transform 0.3s;
  padding: 2px;
}
.footer-icon:hover {
  transform: translateY(-3px);
}

.footer-nav {
  display: flex;
  gap: 35px;
  margin-bottom: 10px;
  padding-top: 20px;
}
.footer-nav a {
  color: #fff;
  font-family: "Lilita One", sans-serif;
  font-size: 1.3rem;
  text-decoration: none;
  text-transform: capitalize;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
.footer-nav a:hover {
  color: #ffd502;
}

.footer-center {
  padding: 10px 0;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.footer-brand-box {
  background: transparent !important;
  padding: 10px;
  border-radius: 0;
  text-align: center;
  box-shadow: none;
}

.footer-brand {
  display: flex;
  align-items: end;
  justify-content: center;
  gap: 15px;
  margin-bottom: 5px;
}

.footer-brand img {
  width: 130px;
  height: auto;
}

.footer-brand h4 {
  font-family: "Lilita One", sans-serif;
  font-size: 50px;
  color: #ffd502;
  margin: 0;
  text-shadow: 4px 4px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000,
    -2px 2px 0 #000, 2px 2px 0 #000 !important;
}

.copyright {
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  opacity: 0.9;
  margin: 5px 0 0 0;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.9);
  font-weight: 500;
  width: 100%;
  text-align: center;
}

.footer-disclaimer {
  width: 100%;
  max-width: 1100px;
  margin-top: auto;
  padding-top: 10px;
  margin-bottom: 40px !important;
}
.footer-disclaimer p {
  font-family: "Poppins", sans-serif;
  font-size: 0.9rem;
  line-height: 1.6;
  color: #e0e0e0;
  margin: 0;
  text-align: center;
  padding: 0 20px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
}

@media (min-width: 768px) and (max-width: 1199.98px) {
  .footer-section {
    aspect-ratio: auto !important;
    height: auto !important;
    background-size: cover !important;
    padding: 60px 30px 40px 30px;
  }

  .footer-brand h4 {
    font-size: 3rem;
  }
  .footer-brand img {
    width: 110px;
  }
  .footer-nav {
    gap: 25px;
  }
  .footer-disclaimer {
    margin-bottom: 20px !important;
  }
}

@media (max-width: 767.98px) {
  .footer-section {
    aspect-ratio: auto !important;
    height: auto !important;
    background-size: cover !important;
    padding: 50px 15px 30px 15px;
  }

  .footer-nav {
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px 20px;
    padding-top: 10px;
  }
  .footer-nav a {
    font-size: 1rem;
  }
  .footer-brand {
    flex-direction: column;
    align-items: center;
    gap: 5px;
    padding-top: 20px;
  }
  .footer-brand img {
    width: 90px;
    margin-left: 30px;
  }
  .footer-brand h4 {
    font-size: 2.5rem;
  }

  .footer-disclaimer p {
    font-size: 0.8rem;
    padding: 0 10px;
  }
  .footer-disclaimer {
    margin-bottom: 20px !important;
  }
  .footer-disclaimer p {
    font-size: 0.7rem !important;
  }
}
